<div class="contents row">
    <div class="success">
      <h3>
        生徒を登録しました。
      </h3>
        <div class="lecture_name">
          <a class="btn" href="/lectures/<%= @lecture.id %>"> 生徒一覧へもどる</a>
        </div>
    </div>
</div>