<div class="form">
<%= form_for ([@lecture, @student, @test]) do |f| %>
    <div style="margin: 8px 0">
      <h3 style="padding-left: 15px">生徒の成績を登録する</h3>
      <%= f.text_field :result, placeholder: '生徒の成績', value: '' %>
  </div>
  <div style="margin: 8px 0">
    <%= f.text_area :description, placeholder: '生徒についてのコメントを書く', style: 'width: 90%;height: 300px;' %>
  </div>
  <div class="row">
    <div class="col10 push1">
      <%= button_tag type: "submit", class: "btn btn--block" do %>
                投稿する<i class="icon-arrow-right"></i>
      <% end %>
    </div>
  </div>
<% end %>
</div>